
@media only screen and (max-width: 1400px) {
     
    *{
        font-size:  97%;
    }

    textarea::placeholder, input,
    input::-webkit-input-placeholder {
        font-size: 85%;
    }

}

@media only screen and (max-width: 1000px){
    
    .custom-small-final-container{
        width: 90%;
    }

    .custom-small-container{
        width: 90%;
    }
}

@media only screen and (max-width: 400px) {
     
    *{
        font-size:  95.5%;
    }

    textarea::placeholder, input,
    input::-webkit-input-placeholder {
        font-size: 80%;
    }

    .custom-modal-content{
        width: 80%;
    }

    .footer-copyright{
        font-size: 85%;
    }

    .footer-copyright a img{
        width: 3rem;
    }

}


@media only screen and (max-width: 670px) {

    .custom-modal-content{
        width: 85%;
    }

}